nav {
	height: 80px;
	width: 100%;
	display: flex;
  justify-content: space-between;
  border: 2px solid royalblue;
}

.nav-text {
  margin-left: 50px;
  font-size: 30px;
  align-self: center;
}

.nav-right {
  display: flex;
  margin-right: 20px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.nav-welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  row-gap: 10px;
}

.nav-welcome span {
  font-style: italic;
}

.alert {
  background-color: tomato;
  width: 25%;
  margin-left: 200px;
}

.login-form {
  padding-top: 40px;
  padding-left: 200px;
}

#formBasicEmail {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 15px;
}

#formBasicPassword {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.home-page-link {
  padding-top: 50px;
  padding-left: 200px;


}

.container {
	display: flex;
  border: 2px solid royalblue;
  margin: 5px;
}

.ingredients {
	width: 20%;
  border: 2px solid aqua;
  margin: 5px;
  text-align: center;
}

.container-center {
  width: 65%;
  border: 2px solid aqua;
  margin: 5px;
}

.preferences {
  height: 40px;
  border: 2px solid fuchsia;
  margin: 5px;
  text-align: center;
}

.recipes {
  border: 2px solid fuchsia;
  margin: 5px;
}

.search {
  border: none;
}

.recipe-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.recipe-card {
  display: flex;
  border: 1px solid silver;
  flex-direction: row;
  align-items: center;
  width: 17rem;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.recipe-card .card-img-top {
  width: 100px;
}

.recipe-body {
  width:50%
}

.recipe-card .card-title {
  font-weight: 500;
  font-size: small;
}

.dish-type {
  color: grey;
  font-size: x-small;
}

.recipe-link {
  font-size: x-small;
  font-style: italic;
}

.load-more {
  display: flex;
  justify-content: center;
}

.load-more button {
  width: 100%;
}

.filters {
	width: 15%;
  border: 2px solid aqua;
  margin: 5px;
  text-align: center;
}

#scroll-button {
  height: 35px;
  width: 35px;
  right: 25px;
  bottom: 25px;
  position: fixed;
  cursor: pointer;
}