#root {
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  color: #1b1b1b;
}


.login {
  display: flex;
  margin-bottom: 90px;
}

.login-card {
  width: 35%;
  margin-left: 40px;
  margin-top: 25px;
}

div .login-card {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login-card button {
  background-color: #97af8f;
  border: none;
}

#formBasicEmail {
  width: 95%;
  margin-bottom: 10px;
}

#formBasicPassword {
  width: 95%;
  margin-bottom: 10px;
}

#formConfirmPassword {
  width: 95%;
  margin-bottom: 10px;
}

.signup {
  display: flex;
}

.signup-card {
  width: 35%;
  margin-left: 40px;
  margin-top: 25px;
  color: #1b1b1b;
}

div .signup-card {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.signup-card button {
  background-color: #97af8f;
  border: none;
}

#name {
  width: 95%;
  margin-bottom: 10px;
}

#firstName {
  width: 95%;
  margin-bottom: 10px;
}

#lastName {
  width: 95%;
  margin-bottom: 10px;
}

.home-page-link {
  padding-top: 25px;
  padding-left: 55px;
}

.container-lg {
	display: flex;
  margin: 5px;
}

.ingredients {
	width: 22%;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ingredients input {
  border-radius: 5px;
  height: 30px;
  border: 1px solid #b8c9e9;
  background-color: white;
}

.ingredients input::placeholder {
  color: rgb(142, 139, 139);
}

.ingredients input:focus-visible {
  outline: #c1cdde auto 1.5px;
}

.ingredients card {
  display: flex;

}

.ingredients h4 {
  margin-top: 25px;
  font-size: 15px;
  color: #596d94;
}

.ingredients button {
  font-size: 9px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #e7edf8;
  color: #1b1b1b;
  margin-top:8px;
  margin-right: 2.5px;
}

.ingredients button:hover {
  background-color: #97af8f;
  color: white;
}

.container-center {
  width: 65%;
  margin: 5px;
  border-radius: 5px;
}

.preferences {
  height: 120px;
  text-align: center;
  padding-top: 10px;
}

.preferences button {
  border: 1px solid #97af8f;
  border-radius: 5px;
  background-color: transparent;
  color: #62735d;
  font-size: small;
  margin: 3px;
}

.preferences button:hover {
  background-color: #97af8f;
  color: #FFFFFF;
}

div .modal-content {
  width: 250px;
  height: 160px;
  font-size: small;
  color: #1b1b1b;
  margin: 100px;
}

div .modal-header {
  padding: 10px;
  color: #62715d;
}

div .modal-title {
  font-size: medium;
}

div .modal-body {
  padding: 10px;
}

.modal-footer .btn-secondary {
  font-size:x-small;
  background-color: rgb(236, 233, 233);
  color: #1b1b1b;
  border: none;
}

.modal-footer .btn-primary {
  font-size:x-small;
  background-color: #97af8f;
  color: #1b1b1b;
  border: none;
}

.recipes {
  margin: 5px;
}

.search button {
  font-size: small;
  background-color: #97af8f;
  border: none;
  }


button.btn:hover {
  color: #1b1b1b;
  background-color: #e5f7e0; 
}

button.btn:active {
  background-color: #ccefc1 !important;
}

input.form-control {
  background-color: #F6F6F6;
  border: 1px solid #97af8f;
}

input.form-control::placeholder {
  color: rgb(142, 139, 139);
}

input.form-control:focus {
  border-color: #d4e0ee;
  box-shadow: 0 0 0 0.1rem #d4e0ee;
}

.recipe-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}

.recipe-cards .recipe-card {
  width: 275px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.recipe-card .card-img-left {
  width: 100px;
  height: 100px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.recipe-card .recipe-body {
  display: flex;
  flex-direction: column;
  width: 135px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}

.recipe-card .card-title {
  font-size: x-small;
  margin-bottom: 2px;
}

.recipe-card .dish-type {
  font-size: x-small;
  color: gray;
}

.recipe-card .recipe-link {
  font-size: xx-small;
  font-style: italic;
  position: absolute;
  bottom: 8px;
}

.recipe-card .card-link {
  color: #3c70be;
}

.recipe-card .favorite-icon {
  width: 30px;
  padding-top: 10px ;
  padding-right: 6px;
  padding-left: 0;
}

.recipe-card .favorite-icon div {
  cursor: pointer;
}

.load-more {
  display: flex;
  justify-content: center;
}

.load-more button {
  width: 100%;
  background-color: #97af8f;
  border: none;
}

.filters {
	width: 18%;
  margin-top: 5px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
 }
 
 .filters div {
  margin-top: 15px;
 }

 .filters span {
  color: #6084bb;
  font-weight: bold;
  margin: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .filters h6 {
    font: 16px;
    color: #6084bb;
    font-weight: bold;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.filters button {
  font-size: 9px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #c6ddbf;
  color: #1b1b1b;
  margin-top:10px;
  margin-right: 3px;
}


button.filter-btn-remove {
  font-size: 9px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #c6ddbf;
  color: #1b1b1b;
  margin-top: 10px;
  margin-right: 3px;
  transition: background-color 0.3s ease;
}


button.filter-btn-remove:hover {
  background-color: rgba(226, 90, 90, 0.903);
  color: white;
  border-color: white;
}

button.filter-btn-add:hover {
  background-color: #c6ddbf;
  color: white;
  border-color: white;
}

.clear-filter button {
  border: 2px solid #637e5a;
  background-color: white;
  border-radius: 5px;
  color: #637e5a;
  font-weight: bold;
}

.clear-filter button:hover {
  background-color: #d0f2c4;
  color: #1b1b1b;
}

#scroll-button {
  height: 35px;
  width: 35px;
  right: 25px;
  bottom: 35px;
  position: fixed;
  cursor: pointer;
  color: #3c70be;
}

.profile {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  padding-left: 20px;
}

.user-recipes {
  border: none;
  width: 40%;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 45px;
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.user-recipes .recipe-cards {
  padding-top: 15px;
}

.user-recipes span {
  font-weight: bold;
  margin-left: 125px;
  color: #e54ea1;
}

.user-recipes .recipe-card {
  margin-bottom: 15px;
}

.user-preferences {
  width: 35%;
  border-radius: 10px;
  background-color: transparent;
  margin-right: 40px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  color: #6084bb;
  font-weight: bold;
  padding: 10px;
}

.user-preferences h5 {
  margin-left: 5%;
}

.my-preferences {
 height: 120px;
}

.my-preferences button {
  border-radius: 5px;
  border: none;
  background-color: #6084bb;
  color: white;
  font-size: small;
  margin: 3px;
}

.my-preferences button:hover {
  border: 1px solid #6084bb;
  background-color: transparent;
  color: #6084bb;
}

.all-preferences {
  height: 120px;
 }

.all-preferences button {
  border: 1px solid #6084bb;
  border-radius: 5px;
  background-color: transparent;
  color: #6084bb;
  font-size: small;
  margin: 3px;
}

.all-preferences button:hover {
  border: none;
  background-color: #6084bb;
  color: white;
}

.footer {
  display: flex;
  justify-content: end;
}

.dropdownSelect:hover {
  cursor: pointer;
  font-weight: bold;
  color: #97af8f;
}