nav {
	height: 80px;
	width: 100%;
	display: flex;
  justify-content: space-between;
  border: 2px solid royalblue;
}

.nav-text {
  margin-left: 50px;
  font-size: 30px;
  align-self: center;
}

.nav-right {
  display: flex;
  margin-right: 20px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.nav-welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  row-gap: 10px;
}

.nav-welcome span {
  font-style: italic;
}

.logout {
  font-size: small;
}

.login-card {
  width: 35%;
  margin-left: 200px;
  margin-top: 30px
}

#formBasicEmail {
  width: 95%;
  margin-bottom: 10px;
}

#formBasicPassword {
  width: 95%;
  margin-bottom: 10px;
}

.signup-card {
  width: 35%;
  margin-left: 200px;
  margin-top: 30px
}

#name {
  width: 95%;
  margin-bottom: 10px;
}

.home-page-link {
  padding-top: 40px;
  padding-left: 200px;
}

.container-lg {
	display: flex;
  border: 2px solid royalblue;
  margin: 5px;
}

.ingredients {
	width: 21%;
  border: 2px solid aqua;
  margin: 5px;
  text-align: center;
}

.ingredients button {
  font-size: 8px;
}

.container-center {
  width: 65%;
  border: 2px solid aqua;
  margin: 5px;
}

.preferences {
  height: 80px;
  border: 2px solid fuchsia;
  margin: 5px;
  text-align: center;
}

.recipes {
  border: 2px solid fuchsia;
  margin: 5px;
  padding-top: 5px;
}

.search button {
  font-size: small;
}

.recipe-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

.recipe-cards .recipe-card {
  width: 275px;
  height: 102px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.recipe-card .card-img-left {
  width: 100px;
  height: 100px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.recipe-card .recipe-body {
  display: flex;
  flex-direction: column;
  width: 135px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
}

.recipe-card .card-title {
  font-size: x-small;
  margin-bottom: 2px;
}

.recipe-card .dish-type {
  font-size: x-small;
  color: gray;
}

.recipe-card .recipe-link {
  font-size: xx-small;
  font-style: italic;
  position: absolute;
  bottom: 8px;
}

.recipe-card .favorite-icon {
  width: 30px;
  padding-top: 10px ;
  padding-right: 6px;
  padding-left: 0;
}

.recipe-card .favorite-icon div {
  cursor: pointer;
}

.load-more {
  display: flex;
  justify-content: center;
}

.load-more button {
  width: 100%;
}

.filters {
	width: 15%;
  border: 2px solid aqua;
  margin: 5px;
  text-align: center;
}

.filters button {
  font-size: 8px;
}

#scroll-button {
  height: 35px;
  width: 35px;
  right: 25px;
  bottom: 35px;
  position: fixed;
  cursor: pointer;
}

.profile {
  margin: 5px;
  display: flex;
  flex-direction: row;
  border: 2px solid royalblue;
  min-height: 500px;
  gap: 5px;
  padding: 5px;
}

.profile-message {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 2px solid aqua;
  width: 25%;

}

.user-recipes {
  border: 2px solid aqua;
  width: 40%;
}

.user-preferences {
  border: 2px solid aqua;
  width: 35%;
}

.footer {
  display: flex;
  justify-content: end;
}